<b>{{ name }}</b> requested a booking from<br>
<b>{{ startTime }}</b><br>
until<br>
<b>{{ endTime }}</b><br>
on<br>
<b>{{ date }}</b><br>
at the<br>
<b>{{ location|capitalize }}</b><br><br>

<span>Use: </span>{{ reason }}<br>
<br>
<a href="https://pelawcbc.com/bookingConfirm">Click here link to accept booking</a><br>or
<br> reply to this email to contact <b>{{ name }}</b>

