{% extends '@Common/base.html.twig' %}

{% block body %}

    {#    {% include('@Common/layout.html.twig') %} #}

    <div id="bookingConfirmWrapper" data-id="{{ booking.id }}">
        <h1>Booking Request</h1>
        <div>{{ booking.startTime }} to {{ booking.endTime }}</div>
        <div>{{ booking.date }}</div>
        <div>{{ booking.location }}</div>
        <div>{{ booking.name }}</div>
        <div>{{ booking.email }}</div>
        <div>{{ booking.reason }}</div>

        {% if booking.confirmed %}
            <div id="bookingConfirmedMessage">
                Booking Confirmed
            </div>
        {% else %}
            <label id="descriptionLabel" for="">Short Description (as you'd like it to appear publicly on the calendar)</label>
            <input id="summary" class="form-control" type="text">
            <button id="confirmButton" class="btn btn-primary">Confirm Booking</button>
        {% endif %}
    </div>

{% endblock %}

{# {% block headPage %} #}

{# {% endblock %} #}

{# {% block javascripts %} #}

{# {% endblock %} #}
