<b>{{ name }}</b> requested a booking from...<br><br>
<b>{{ startTime }}</b><br>
until<br>
<b>{{ endTime }}</b><br>
on<br>
<b>{{ date }}</b><br>
at the<br>
<b>{{ location|capitalize }}</b><br><br>

{{ reason }}<br>
<br>
<a href="{{ baseUrl }}/bookingConfirm/{{ id }}">Click here to accept booking</a><br>
<br>
or
<br>
<br>
Reply to this email to contact <b>{{ name }}</b>

