<a id="activitiesLinkMobile" href="{{ path('activities') }}" class="mobileMenuLink">ACTIVITIES</a>
<a id="aboutLinkMobile" href="{{ path('about') }}" class="mobileMenuLink">ABOUT</a>
<a id="LeaguesLinkMobile" href="{{ path('leagues') }}" class="mobileMenuLink">LEAGUES</a>
<a id="galleryLinkMobile" href="{{ path('gallery') }}" class="mobileMenuLink">GALLERY</a>
<a id="donateLinkMobile" href="/donate" class="mobileMenuLink">DONATE</a>
<a id="donateLinkMobile" href="{{ path('news') }}" class="mobileMenuLink">NEWS</a>
<a id="contactLinkMobile" href="{{ path('contact') }}" class="mobileMenuLink">CONTACT</a>

{#<a class="topBarLinkSocial" href="https://www.facebook.com/BluelineNewcastle" ><i class="demo-icon icon-facebook-circled"></i></a>#}
{#<a class="topBarLinkSocial" href="https://twitter.com/bluelinencl" ><i class="demo-icon icon-twitter-circled"></i></a>#}