<div id="desktopTopBar" class="menuSlide">

    <span id="topBarLeftLinks">
        <span id="topBarLeftInner">
            <a id="mainLogoWrapper" href="/">
                <img id="mainLogo" src="{{ asset('images/pelaw logo3-01.svg') }}" >
            </a>
        </span>
    </span>

</div>

<div id="topBarRight" class="menuSlide">
    <div id="topBarRightInner">
        <a id="activitiesLink" href="{{ path('activities') }}" class="topBarRightLink topBarLink">ACTIVITIES</a>
        <a id="aboutLink" href="{{ path('about') }}" class="topBarRightLink topBarLink">ABOUT</a>
        <a id="LeaguesLink" href="{{ path('leagues') }}" class="topBarRightLink topBarLink">LEAGUES</a>
        <a id="galleryLink" href="{{ path('gallery') }}" class="topBarRightLink topBarLink">GALLERY</a>
        <a id="donateLink" href="/donate" class="topBarRightLink topBarLink">DONATE</a>
        <a id="contactLink" href="{{ path('contact') }}" class="topBarRightLink topBarLink">CONTACT</a>
    </div>
</div>

<div id="sideBarToggle" class="menuToggle menuSlide">
    <div class="menuToggleLine"></div>
    <div class="menuToggleLine"></div>
    <div class="menuToggleLine"></div>
</div>

<div id="menuLayout">
    {% include '@Common/layout.html.twig' with {'layout': menuLayout} %}
</div>

<div id="mobileTopBarWrapper">
    <div id="mobileTopBar">
        <a id="mobileLogoWrapper" href="{{ url('home') }}">
            <img id="mobileLogo" src="{{ asset('images/pelaw logo3-01.svg') }}" >
        </a>
    </div>
    <div id="mobileMenuToggle" class="menuToggle">
        <div class="menuToggleLine"></div>
        <div class="menuToggleLine"></div>
        <div class="menuToggleLine"></div>
    </div>
    <div id="mobileMenuLinks">{{ include('menuLinks.html.twig') }}</div>
</div>

<div id="mobileTopBarMediaCheck"></div>