<svg id="topBarSVG" viewBox="0 0 840 550" preserveAspectRatio="none">

    <path id="wiggleBar" width="100%"
          d="M 841.89,54.22 V 0 H 0 v 67.22 c 0,0 208,-50.43 420.94,-20.8 0,0 3.31407,0.695059 9.50354,1.843048 C 474.5354,56.440968 664.54508,87.603708 841.89,54.22 Z"/>

    <path id="star1Start" class="star" width="100%"
      d="m 409.29329,30.793522 30.87755,-19.039407 c 5.14893,-20.6628238 33.23934,2.56243 38.38827,-18.100393 3.87778,11.792639 7.75556,23.585277 11.63335,35.377916 L 567.238,21.859816 c -12.55071,6.652526 -25.10143,13.305053 -37.65214,19.957579 10.72333,19.185347 18.57942,3.695538 29.30275,22.880878 C 547.25406,57.017123 541.47912,61.069641 529.84457,53.388485 512.78502,29.732955 513.67968,36.998564 494.62522,51.246364 529.90907,-14.016015 477.41678,62.360397 482.77694,50.960659 460.2773,40.580941 431.79293,41.173242 409.29329,30.793522 Z"/>

    <path id="star1Finish" class="star targetShape" width="100%"
      d="m 418.2704,53.735016 c 14.94731,0.635725 29.89463,1.27145 44.84193,1.907175 5.14893,-20.662824 10.29785,-41.325646 15.44678,-61.988469 3.87778,11.792639 7.75556,23.585277 11.63335,35.377916 25.68184,-2.390607 51.36368,-4.781214 77.04554,-7.171822 -12.55071,6.652526 -25.10143,13.305053 -37.65214,19.957579 10.72333,19.185347 21.44666,38.370695 32.16999,57.556034 C 550.1213,91.69228 538.48675,84.011135 526.8522,76.329979 507.79774,90.577787 488.74327,104.82559 469.68881,119.07339 475.04898,107.67365 480.40915,96.273911 485.76931,84.874172 463.26967,74.494454 440.77004,64.114736 418.2704,53.735016 Z"/>

    <path id="star2Start" class="star" width="100%"
      d="m 612.92217,39.482303 c 5.96283,0.170864 11.92567,0.341728 17.8885,0.512592 2.05403,-5.553555 4.10806,-11.107108 6.16208,-16.660662 1.54694,3.169511 3.09388,6.339023 4.64082,9.508535 10.24509,-0.642525 20.49018,-1.285049 30.73527,-1.927573 -5.00677,1.788002 -10.01354,3.576003 -15.02031,5.364004 4.27778,5.156454 8.55557,10.312905 12.83336,15.469355 -4.6413,-2.064464 -9.28259,-4.128928 -13.92389,-6.193396 -7.60127,3.829389 -15.20254,7.658774 -22.80381,11.488162 2.13829,-3.063912 4.27658,-6.127823 6.41488,-9.191736 -8.97563,-2.78976 -17.95126,-5.579521 -26.9269,-8.369281 z"/>

    <path id="star2Finish" class="star targetShape" width="100%"
      d="m 558.88861,64.698273 c 14.94731,0.635725 29.89463,1.27145 44.84193,1.907175 5.14893,-20.662824 10.29785,-41.325646 15.44678,-61.9884734 3.87778,11.7926434 7.75556,23.5852814 11.63335,35.3779204 25.68184,-2.390607 51.36368,-4.781214 77.04554,-7.171822 -12.55071,6.652526 -25.10143,13.305053 -37.65214,19.957579 10.72333,19.185347 21.44666,38.370695 32.16999,57.556038 -11.63455,-7.68115 -23.2691,-15.362298 -34.90365,-23.043454 -19.05446,14.247804 -38.10893,28.495614 -57.16339,42.743414 5.36017,-11.39974 10.72034,-22.79948 16.0805,-34.199221 C 603.88788,85.457711 581.38825,75.077993 558.88861,64.698273 Z"/>

    <path id="star3Start" class="star" width="100%"
      d="m 741.59404,33.497564 c 5.96283,0.170864 11.92567,0.341728 17.8885,0.512592 2.05403,-5.553555 4.10806,-11.107108 6.16208,-16.660662 1.54694,3.169511 3.09388,6.339023 4.64082,9.508535 10.24509,-0.642525 20.49018,-1.285049 30.73527,-1.927573 -5.00677,1.788002 -10.01354,3.576003 -15.02031,5.364004 4.27778,5.156454 8.55557,10.312905 12.83336,15.469355 -4.6413,-2.064464 -9.28259,-4.128928 -13.92389,-6.193396 -7.60127,3.829389 -15.20254,7.658774 -22.80381,11.488162 2.13829,-3.063912 4.27658,-6.127823 6.41488,-9.191736 -8.97563,-2.78976 -17.95126,-5.579521 -26.9269,-8.369281 z"/>

    <path id="star3Finish" class="star targetShape" width="100%"
      d="m 687.56047,58.713534 c 14.94732,0.635725 29.89464,1.27145 44.84194,1.907175 5.14893,-20.662824 10.29785,-41.325646 15.44678,-61.9884731 3.87778,11.7926431 7.75556,23.5852811 11.63335,35.3779201 25.68184,-2.390607 51.36368,-4.781214 77.04554,-7.171822 -12.55071,6.652526 -25.10143,13.305053 -37.65214,19.957579 10.72333,19.185347 21.44666,38.370698 32.16999,57.556037 -11.63455,-7.681149 -23.2691,-15.362299 -34.90365,-23.043449 -19.05446,14.2478 -38.10893,28.495609 -57.16339,42.743409 5.36017,-11.39974 10.72034,-22.79948 16.0805,-34.199219 C 732.55975,79.472972 710.06012,69.093254 687.56047,58.713534 Z"/>


</svg>

<div id="desktopTopBar" class="menuSlide">

    <a id="menuToggle">
        <div></div>
        <div></div>
        <div></div>
    </a>

    <a id="topBarLogoWrapper" href="{{ path('home') }}">
        <img src="{{ asset('images/logo_happicabs.svg') }}">
    </a>

    <span id="topBarLeftLinks">
        <span id="topBarLeftInner">
            <span id="bookLink" class="topBarDropDownLink topBarLink">BOOK</span>
            <a href="{{ path('careers') }}" class="topBarLink">DRIVE</a>
            <a href="{{ path('fareCalculator') }}" class="topBarLink">FARE CALCULATOR</a>
        </span>
    </span>

    <div id="phoneIconDropDown" class="topBarDropDown right">
        <a href="tel: 01245433443">
            <div>CHELMSFORD</div>
            <div>(01245) 443 443</div>
        </a>
        <a href="tel: 01621883883">
            <div>MALDON</div>
            <div>(01621) 883 883</div>
        </a>
        <a href="tel: 01245321321">
            <div>SOUTH WOODHAM</div>
            <div>(01245) 321 321</div>
        </a>
    </div>

    <div id="loginLinkDropDown" class="topBarDropDown right">
        <a href="http://www.happicabsonline.com/corporate/#/booking">
            CORPORATE
        </a>
        <a href="http://cpaq5838383.rr.nu/DriverDashboard/login">
            DRIVERS
        </a>
    </div>

    <div id="locationLinkDropDown" class="topBarDropDown right">
        <a href="{{ path('chelmsford') }}">
            CHELMSFORD
        </a>
        <a href="{{ path('maldon') }}">
            MALDON
        </a>
        <a href="{{ path('south-woodham-ferrers') }}">
            SOUTH WOODHAM
        </a>
    </div>

    <div id="bookLinkDropDown" class="topBarDropDown left">
        <a href="{{ path('appPage') }}">
            DOWNLOAD APP
        </a>
        <a href="http://www.happicabsonline.com/corporate/#/booking">
            BOOK ONLINE
        </a>
        <a href="{{ path('phone') }}">
            PHONE
        </a>
    </div>


</div>

{#{% include 'topBarDropdownSVG.html.twig' %}#}

<div id="topBarRight" class="menuSlide">
    <div id="topBarRightInner">
        {#        <a id="topBarPhone" class="topBarRightLink" href="skype:+4401912626666?call">0191 262 6666</a>#}
        {#        <a id="topBarBookOnline" class="topBarRightLink" href="https://book.bluelinetaxis.com">BOOK ONLINE</a>#}

        {#        <a id="topBarDriverNews" class="topBarRightLink" href="{{ path('driverNewsIndex') }}">NEWS</a>#}
        {#        <a id="topBarDriverPayment" class="topBarRightLink" href="https://blueline.riide.co/">Driver Payment</a>#}

        <span id="locationLink" class="topBarRightLink topBarLink topBarDropDownLink">LOCATION</span>
        <span id="loginLink" class="topBarRightLink topBarLink topBarDropDownLink">LOGIN</span>
    </div>
    <img id="phoneIcon" class="topBarDropDownLink topBarLink" src="{{ asset('images/happicabs_phone.svg') }}" alt="">
</div>


{% if globals.pageId == 'book-online' %}

    <div id="bookOnlineDesktopMenu" class="menuSlide bookOnlineMenu"></div>

{% endif %}

<div id="menuLayout">
    {#{{ include('menuLinks.html.twig') }}#}
    {% include '@Common/layout.html.twig' with {'layout': menuLayout} %}
</div>

<div id="mobileTopBarWrapper">
    <div id="mobileTopBar">
        <a id="mobileTopBarHomeLink" href="{{ url('home') }}">Happicabs</a>
        <div id="mobileMenuToggle">
            <div class="menuToggleLine"></div>
            <div class="menuToggleLine"></div>
            <div class="menuToggleLine"></div>
        </div>
    </div>
    <div id="mobileMenuLinks">{{ include('menuLinks.html.twig') }}</div>
</div>

<div id="mobileTopBarMediaCheck"></div>