<div class="contactInnerWrapper">

    {% if not success %}

        {% include '@Common/textPartsTextOnly.html.twig' %}

    {% endif %}

    {% set form = attribute(blocks, blockName) %}

    {% form_theme form 'bootstrap_3_layout.html.twig' %}

    {% if success %}
        <div class="successMessage">
            <div>Thanks for your enquiry</div>
            Your message has been received
            and we'll be in touch as soon as possible
        </div>
    {% else %}

        {{ form_start(form) }}

        <div class="row formColumns">
            <div class="col-md-6">
                {{ form_row(form.firstName) }}
                {{ form_row(form.email) }}
                {{ form_row(form.bookingRef) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.lastName) }}
                {{ form_row(form.phone) }}
                {{ form_row(form.subject) }}
            </div>
            <div class="col-md-12">
                {{ form_row(form.message) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 consentColumn">
                {{ form_row(form.consent) }}
            </div>
            <div class="col-md-12 submitColumn">
                {{ form_row(form.submit) }}
            </div>
        </div>

        {{ form_end(form) }}

        {#{{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}#}
        {#for debugging old browsers without html5 validation#}
        {#        {{ form(form) }}#}

        {#{{ form_start(form) }}#}
        {#{{ form_errors(form) }}#}
        {#<div class="form-group">#}
        {#{{ form_label(form.name) }}#}
        {#{{ form_widget(form.name, {attr: {'class' : 'form-control'}}) }}#}
        {#{{ form_errors(form.name, {attr: {'class' : 'help-block'}}) }}#}
        {#</div>#}
        {#<div class="form-group">#}
        {#{{ form_label(form.subject) }}#}
        {#{{ form_widget(form.subject, {attr: {'class' : 'form-control'}}) }}#}
        {#{{ form_errors(form.subject, {attr: {'class' : 'help-block'}}) }}#}
        {#</div>#}
        {#<div id="contactUrl" class="form-group">#}
        {#{{ form_label(form.url) }}#}
        {#{{ form_widget(form.url, {attr: {'class' : 'form-control'}}) }}#}
        {#{{ form_errors(form.url, {attr: {'class' : 'help-block'}}) }}#}
        {#</div>#}
        {#<div class="form-group">#}
        {#{{ form_label(form.email) }}#}
        {#{{ form_widget(form.email, {attr: {'class' : 'form-control'}}) }}#}
        {#{{ form_errors(form.email, {attr: {'class' : 'help-block'}}) }}#}
        {#</div>#}
        {#<div class="form-group">#}
        {#{{ form_label(form.message) }}#}
        {#{{ form_widget(form.message, {attr: {'class' : 'form-control', 'rows' : 10}}) }}#}
        {#{{ form_errors(form.message, {attr: {'class' : 'help-block'}}) }}#}
        {#</div>#}

        {#{{ form_widget(form.pageId) }}#}

        {#{{ form_widget(form.submit, {attr: {'class' : 'btn btn-default'}}) }}#}

        {#{{ form_end(form) }}#}

    {% endif %}

</div>
